<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belgrano Autos Assistant</title>
</head>
<body>
    <h1>Belgrano Autos Assistant</h1>
    <form action="/assistant/" method="post">
        <label for="question">Tu pregunta:</label><br>
        <input type="text" id="question" name="question"><br><br>
        <input type="submit" value="Enviar pregunta">
    </form>
</body>
</html>